<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Mix-o-Matic</title>
  </head>
  <body>
    <div class="container">
      <h1>Mix-o-Matic!</h1>
      <div class="cocktail-img">
        <img
          src="https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
      </div>
      <div class="ingredients">
        <h2 style="margin-bottom: 0px">Ingredients</h2>
        <ul>
          <li>Alchohol</li>
          <li>2 x Oranges</li>
        </ul>
      </div>
    </div>
  </body>
</html>
